<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Buy in:</strong>
    <%= group.buy_in %>
  </p>

  <p>
    <strong>Note 1:</strong>
    <%= group.note_1 %>
  </p>

  <p>
    <strong>Note 2:</strong>
    <%= group.note_2 %>
  </p>

</div>
