<div id="<%= dom_id school %>">
  <p>
    <strong>Name:</strong>
    <%= school.name %>
  </p>

  <p>
    <strong>Seed:</strong>
    <%= school.seed %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= school.region %>
  </p>

  <p>
    <strong>W1:</strong>
    <%= school.w1 %>
  </p>

  <p>
    <strong>W2:</strong>
    <%= school.w2 %>
  </p>

  <p>
    <strong>W3:</strong>
    <%= school.w3 %>
  </p>

  <p>
    <strong>W4:</strong>
    <%= school.w4 %>
  </p>

  <p>
    <strong>W5:</strong>
    <%= school.w5 %>
  </p>

  <p>
    <strong>W6:</strong>
    <%= school.w6 %>
  </p>

</div>
